#banner{
  width: 100%
}

.principal{
  background-color: #cccccc;
  padding: 30px;
}

.titulo-principal{
  padding-left: 20px;
}

.texto-centralizado{
  text-align: center;
}

p{
  text-align: center;
}

em strong{
  color: #grey
}

#missao{
  font-size: 28px;
}

#banner{
  width: 100%
}

.beneficios{
  padding: 20px;
  background-color: #FFFFFF;
}￼


ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}



